project/CSharp/Axs/Axs.Core/Service References/Management.Globalization/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/Management/Globalization/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/Management/Globalization/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetStringRequest">
    <wsdl:part name="parameters" element="tns:GetStringRequest" />
  </wsdl:message>
  <wsdl:message name="GetStringRequest_Headers">
    <wsdl:part name="Ticket" element="tns:Ticket" />
  </wsdl:message>
  <wsdl:message name="GetStringResponse">
    <wsdl:part name="parameters" element="tns:GetStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetStringResponse_Headers">
    <wsdl:part name="Exists" element="tns:Exists" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetString" name="GetStringRequest" message="tns:GetStringRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStringResponse" name="GetStringResponse" message="tns:GetStringResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetString">
      <soap:operation soapAction="http://tempuri.org/IService/GetString" style="document" />
      <wsdl:input name="GetStringRequest">
        <soap:header message="tns:GetStringRequest_Headers" part="Ticket" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStringResponse">
        <soap:header message="tns:GetStringResponse_Headers" part="Exists" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:9000/Management/Globalization/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>