trunk/lt/LTmobile/Web References/Sincronizacao/WS_ltMobile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLastVersionFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idFiscal" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="currentVersion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="partNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastVersionFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastVersionFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastVersionFileLength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idFiscal" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="currentVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastVersionFileLengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastVersionFileLengthResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLeituraWS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth" type="tns:Autenticantion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Autenticantion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getLeituraWSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLeituraWSResult" type="tns:ArrayOfLeituraWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLeituraWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LeituraWS" nillable="true" type="tns:LeituraWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LeituraWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Estado_Servc" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_UC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MES_ANO_FATUR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_LOCAL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_MEDIC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM_LIVRO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ESTADO_SERVC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SEQ_LIVRO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MATRIC_FUNC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_IRREGL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_ROTR_OPER" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SEQ_ROTR_OPER" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ENDER_UC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPL_ENDER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM_MEDIDR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LEITUR_MAX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LEITUR_MIN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LEITUR_ANTER" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LEITUR_VISITA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SITUAC_UC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MEDIA_CONSUM" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CONSUM_ANTER" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QTDE_LEITUR_ESTIMD" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IRREGL_ANTER" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IRREGL_ATUAL1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IRREGL_ATUAL2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IRREGL_ATUAL3" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DATA_IMPORT" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="HORA_IMPORT" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATA_VISITA" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="HORA_VISITA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUAR_ATLZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATA_ATLZ" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="HORA_ATLZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FLAG_REPASSE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPL_ATUAL1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPL_ATUAL2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPL_ATUAL3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATA_CALENDARIO" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="COORD_X" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COORD_Y" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS_REG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_RAZAO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FATOR_MULTIP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QTDE_DIGIT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FASE_MEDIDR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLASSE_CONSUMO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOME_CONSMD" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setLeituraConfirmada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Condicao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setLeituraConfirmadaResponse">
        <s:complexType />
      </s:element>
      <s:element name="setMensagemConfirmada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Condicao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setMensagemConfirmadaResponse">
        <s:complexType />
      </s:element>
      <s:element name="setCorreioEletronicoConfirmado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Condicao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setCorreioEletronicoConfirmadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="AutenticarUsuarioStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth" type="tns:Autenticantion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarUsuarioStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutenticarUsuarioStrResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDateDBServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth" type="tns:Autenticantion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDateDBServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getDateDBServerResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCorreioEletronico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth" type="tns:Autenticantion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCorreioEletronicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCorreioEletronicoResult" type="tns:ArrayOfCorreioEletronicoWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCorreioEletronicoWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CorreioEletronicoWS" nillable="true" type="tns:CorreioEletronicoWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CorreioEletronicoWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MATRIC_FUNC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_MSG" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ASSUNTO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DT_MSG" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS_MSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DESC_MSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_MSG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS_REG" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getFoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth" type="tns:Autenticantion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFotoResult" type="tns:ArrayOfFotoWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFotoWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FotoWS" nillable="true" type="tns:FotoWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FotoWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_FOTO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MES_ANO_FATUR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_MEDIC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_LOCAL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_UC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_RAZAO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM_MEDIDR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_SEQ_FOTO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DESC_FOTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUAR_ATLZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATA_ATLZ" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="HORA_ATLZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CORD_X" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CORD_Y" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS_REG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORIG_INFORM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Buffer" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="getMensagem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Condicao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMensagemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMensagemResult" type="tns:ArrayOfMensagemWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMensagemWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MensagemWS" nillable="true" type="tns:MensagemWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MensagemWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_MSG" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DESC_MSG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_UC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_MEDIC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MES_ANO_FATUR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_LOCAL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS_REG" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_RAZAO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FLAG_SENTIDO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DT_MSG" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="getOcorrencia">
        <s:complexType />
      </s:element>
      <s:element name="getOcorrenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOcorrenciaResult" type="tns:ArrayOfOcorrenciaWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOcorrenciaWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OcorrenciaWS" nillable="true" type="tns:OcorrenciaWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OcorrenciaWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="COD_IRREGL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DESC_IRREGL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUAR_ATLZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DATA_ATLZ" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="HORA_ATLZ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_PRIOR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FLAG_COMPLEMENTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FLAG_FOTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OBS_PADRAO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FLAG_IMPEDIMENTO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getFuncionario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="auth" type="tns:Autenticantion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFuncionarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFuncionarioResult" type="tns:ArrayOfFuncionariosWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFuncionariosWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FuncionariosWS" nillable="true" type="tns:FuncionariosWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FuncionariosWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MATRIC_FUNC" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SENHA_FUNC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NOME_FUNC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_LOCAL_TRAB" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SITUAC_FUNC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_COLETR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="setCorreioEletronico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correio" type="tns:ArrayOfCorreioEletronicoWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setCorreioEletronicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setCorreioEletronicoResult" type="tns:ArrayOfErroCorreioEletronicoWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfErroCorreioEletronicoWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErroCorreioEletronicoWS" nillable="true" type="tns:ErroCorreioEletronicoWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErroCorreioEletronicoWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_MSG" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EXCEPTION" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setFoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Dadosfoto" type="tns:FotoWS" />
            <s:element minOccurs="0" maxOccurs="1" name="ArquivoFoto" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setFotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setFotoResult" type="tns:ErroFotoWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErroFotoWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NUM_UC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MES_ANO_FATUR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_LOCAL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_MEDIC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_RAZAO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_SEQ_FOTO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EXCEPTION" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateLeitura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="leitura" type="tns:LeituraWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLeituraResponse">
        <s:complexType />
      </s:element>
      <s:element name="setLeitura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="leitura" type="tns:ArrayOfLeituraWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setLeituraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setLeituraResult" type="tns:ArrayOfErroLeituraWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfErroLeituraWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErroLeituraWS" nillable="true" type="tns:ErroLeituraWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErroLeituraWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NUM_UC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MES_ANO_FATUR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_LOCAL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_MEDIC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_RAZAO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EXCEPTION" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setLeituraPovisoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeituraProvisoria" type="tns:ArrayOfLeituraProvisoriaWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLeituraProvisoriaWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LeituraProvisoriaWS" nillable="true" type="tns:LeituraProvisoriaWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LeituraProvisoriaWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MES_ANO_FATUR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_LOCAL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_MEDIC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM_MEDIDR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MATRIC_FUNC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_UC_REF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_RAZAO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IRREGL_ATUAL1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IRREGL_ATUAL2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IRREGL_ATUAL3" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DATA_VISITA" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="HORA_VISITA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LEITUR_VISITA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="COORD_X" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COORD_Y" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STATUS_REG" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPL_ATUAL1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPL_ATUAL2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPL_ATUAL3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OBSERVACAO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setLeituraPovisoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setLeituraPovisoriaResult" type="tns:ArrayOfErroLeituraProvisoriaWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfErroLeituraProvisoriaWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErroLeituraProvisoriaWS" nillable="true" type="tns:ErroLeituraProvisoriaWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErroLeituraProvisoriaWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MES_ANO_FATUR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_LOCAL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_MEDIC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NUM_MEDIDR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_UC_REF" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_RAZAO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EXCEPTION" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setMensagem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="tns:ArrayOfMensagemWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setMensagemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setMensagemResult" type="tns:ArrayOfErroMensagemWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfErroMensagemWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErroMensagemWS" nillable="true" type="tns:ErroMensagemWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErroMensagemWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NUM_UC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MES_ANO_FATUR" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_LOCAL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TIPO_MEDIC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="COD_EMPRT" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NUM_RAZAO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_MSG" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EXCEPTION" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLastVersionFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastVersionFile" />
  </wsdl:message>
  <wsdl:message name="GetLastVersionFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastVersionFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastVersionFileLengthSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastVersionFileLength" />
  </wsdl:message>
  <wsdl:message name="GetLastVersionFileLengthSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastVersionFileLengthResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getLeituraWSSoapIn">
    <wsdl:part name="parameters" element="tns:getLeituraWS" />
  </wsdl:message>
  <wsdl:message name="getLeituraWSSoapOut">
    <wsdl:part name="parameters" element="tns:getLeituraWSResponse" />
  </wsdl:message>
  <wsdl:message name="setLeituraConfirmadaSoapIn">
    <wsdl:part name="parameters" element="tns:setLeituraConfirmada" />
  </wsdl:message>
  <wsdl:message name="setLeituraConfirmadaSoapOut">
    <wsdl:part name="parameters" element="tns:setLeituraConfirmadaResponse" />
  </wsdl:message>
  <wsdl:message name="setMensagemConfirmadaSoapIn">
    <wsdl:part name="parameters" element="tns:setMensagemConfirmada" />
  </wsdl:message>
  <wsdl:message name="setMensagemConfirmadaSoapOut">
    <wsdl:part name="parameters" element="tns:setMensagemConfirmadaResponse" />
  </wsdl:message>
  <wsdl:message name="setCorreioEletronicoConfirmadoSoapIn">
    <wsdl:part name="parameters" element="tns:setCorreioEletronicoConfirmado" />
  </wsdl:message>
  <wsdl:message name="setCorreioEletronicoConfirmadoSoapOut">
    <wsdl:part name="parameters" element="tns:setCorreioEletronicoConfirmadoResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioStrSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioStr" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioStrSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioStrResponse" />
  </wsdl:message>
  <wsdl:message name="getDateDBServerSoapIn">
    <wsdl:part name="parameters" element="tns:getDateDBServer" />
  </wsdl:message>
  <wsdl:message name="getDateDBServerSoapOut">
    <wsdl:part name="parameters" element="tns:getDateDBServerResponse" />
  </wsdl:message>
  <wsdl:message name="getCorreioEletronicoSoapIn">
    <wsdl:part name="parameters" element="tns:getCorreioEletronico" />
  </wsdl:message>
  <wsdl:message name="getCorreioEletronicoSoapOut">
    <wsdl:part name="parameters" element="tns:getCorreioEletronicoResponse" />
  </wsdl:message>
  <wsdl:message name="getFotoSoapIn">
    <wsdl:part name="parameters" element="tns:getFoto" />
  </wsdl:message>
  <wsdl:message name="getFotoSoapOut">
    <wsdl:part name="parameters" element="tns:getFotoResponse" />
  </wsdl:message>
  <wsdl:message name="getMensagemSoapIn">
    <wsdl:part name="parameters" element="tns:getMensagem" />
  </wsdl:message>
  <wsdl:message name="getMensagemSoapOut">
    <wsdl:part name="parameters" element="tns:getMensagemResponse" />
  </wsdl:message>
  <wsdl:message name="getOcorrenciaSoapIn">
    <wsdl:part name="parameters" element="tns:getOcorrencia" />
  </wsdl:message>
  <wsdl:message name="getOcorrenciaSoapOut">
    <wsdl:part name="parameters" element="tns:getOcorrenciaResponse" />
  </wsdl:message>
  <wsdl:message name="getFuncionarioSoapIn">
    <wsdl:part name="parameters" element="tns:getFuncionario" />
  </wsdl:message>
  <wsdl:message name="getFuncionarioSoapOut">
    <wsdl:part name="parameters" element="tns:getFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="setCorreioEletronicoSoapIn">
    <wsdl:part name="parameters" element="tns:setCorreioEletronico" />
  </wsdl:message>
  <wsdl:message name="setCorreioEletronicoSoapOut">
    <wsdl:part name="parameters" element="tns:setCorreioEletronicoResponse" />
  </wsdl:message>
  <wsdl:message name="setFotoSoapIn">
    <wsdl:part name="parameters" element="tns:setFoto" />
  </wsdl:message>
  <wsdl:message name="setFotoSoapOut">
    <wsdl:part name="parameters" element="tns:setFotoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLeituraSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLeitura" />
  </wsdl:message>
  <wsdl:message name="UpdateLeituraSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLeituraResponse" />
  </wsdl:message>
  <wsdl:message name="setLeituraSoapIn">
    <wsdl:part name="parameters" element="tns:setLeitura" />
  </wsdl:message>
  <wsdl:message name="setLeituraSoapOut">
    <wsdl:part name="parameters" element="tns:setLeituraResponse" />
  </wsdl:message>
  <wsdl:message name="setLeituraPovisoriaSoapIn">
    <wsdl:part name="parameters" element="tns:setLeituraPovisoria" />
  </wsdl:message>
  <wsdl:message name="setLeituraPovisoriaSoapOut">
    <wsdl:part name="parameters" element="tns:setLeituraPovisoriaResponse" />
  </wsdl:message>
  <wsdl:message name="setMensagemSoapIn">
    <wsdl:part name="parameters" element="tns:setMensagem" />
  </wsdl:message>
  <wsdl:message name="setMensagemSoapOut">
    <wsdl:part name="parameters" element="tns:setMensagemResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_ltMobileSoap">
    <wsdl:operation name="GetLastVersionFile">
      <wsdl:input message="tns:GetLastVersionFileSoapIn" />
      <wsdl:output message="tns:GetLastVersionFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastVersionFileLength">
      <wsdl:input message="tns:GetLastVersionFileLengthSoapIn" />
      <wsdl:output message="tns:GetLastVersionFileLengthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLeituraWS">
      <wsdl:input message="tns:getLeituraWSSoapIn" />
      <wsdl:output message="tns:getLeituraWSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setLeituraConfirmada">
      <wsdl:input message="tns:setLeituraConfirmadaSoapIn" />
      <wsdl:output message="tns:setLeituraConfirmadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setMensagemConfirmada">
      <wsdl:input message="tns:setMensagemConfirmadaSoapIn" />
      <wsdl:output message="tns:setMensagemConfirmadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setCorreioEletronicoConfirmado">
      <wsdl:input message="tns:setCorreioEletronicoConfirmadoSoapIn" />
      <wsdl:output message="tns:setCorreioEletronicoConfirmadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuarioStr">
      <wsdl:input message="tns:AutenticarUsuarioStrSoapIn" />
      <wsdl:output message="tns:AutenticarUsuarioStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDateDBServer">
      <wsdl:input message="tns:getDateDBServerSoapIn" />
      <wsdl:output message="tns:getDateDBServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCorreioEletronico">
      <wsdl:input message="tns:getCorreioEletronicoSoapIn" />
      <wsdl:output message="tns:getCorreioEletronicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFoto">
      <wsdl:input message="tns:getFotoSoapIn" />
      <wsdl:output message="tns:getFotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMensagem">
      <wsdl:input message="tns:getMensagemSoapIn" />
      <wsdl:output message="tns:getMensagemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOcorrencia">
      <wsdl:input message="tns:getOcorrenciaSoapIn" />
      <wsdl:output message="tns:getOcorrenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFuncionario">
      <wsdl:input message="tns:getFuncionarioSoapIn" />
      <wsdl:output message="tns:getFuncionarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setCorreioEletronico">
      <wsdl:input message="tns:setCorreioEletronicoSoapIn" />
      <wsdl:output message="tns:setCorreioEletronicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setFoto">
      <wsdl:input message="tns:setFotoSoapIn" />
      <wsdl:output message="tns:setFotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLeitura">
      <wsdl:input message="tns:UpdateLeituraSoapIn" />
      <wsdl:output message="tns:UpdateLeituraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setLeitura">
      <wsdl:input message="tns:setLeituraSoapIn" />
      <wsdl:output message="tns:setLeituraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setLeituraPovisoria">
      <wsdl:input message="tns:setLeituraPovisoriaSoapIn" />
      <wsdl:output message="tns:setLeituraPovisoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setMensagem">
      <wsdl:input message="tns:setMensagemSoapIn" />
      <wsdl:output message="tns:setMensagemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_ltMobileSoap" type="tns:WS_ltMobileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastVersionFile">
      <soap:operation soapAction="http://tempuri.org/GetLastVersionFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastVersionFileLength">
      <soap:operation soapAction="http://tempuri.org/GetLastVersionFileLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLeituraWS">
      <soap:operation soapAction="http://tempuri.org/getLeituraWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLeituraConfirmada">
      <soap:operation soapAction="http://tempuri.org/setLeituraConfirmada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMensagemConfirmada">
      <soap:operation soapAction="http://tempuri.org/setMensagemConfirmada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCorreioEletronicoConfirmado">
      <soap:operation soapAction="http://tempuri.org/setCorreioEletronicoConfirmado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuarioStr">
      <soap:operation soapAction="http://tempuri.org/AutenticarUsuarioStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDateDBServer">
      <soap:operation soapAction="http://tempuri.org/getDateDBServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCorreioEletronico">
      <soap:operation soapAction="http://tempuri.org/getCorreioEletronico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFoto">
      <soap:operation soapAction="http://tempuri.org/getFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMensagem">
      <soap:operation soapAction="http://tempuri.org/getMensagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOcorrencia">
      <soap:operation soapAction="http://tempuri.org/getOcorrencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFuncionario">
      <soap:operation soapAction="http://tempuri.org/getFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCorreioEletronico">
      <soap:operation soapAction="http://tempuri.org/setCorreioEletronico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFoto">
      <soap:operation soapAction="http://tempuri.org/setFoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLeitura">
      <soap:operation soapAction="http://tempuri.org/UpdateLeitura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLeitura">
      <soap:operation soapAction="http://tempuri.org/setLeitura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLeituraPovisoria">
      <soap:operation soapAction="http://tempuri.org/setLeituraPovisoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMensagem">
      <soap:operation soapAction="http://tempuri.org/setMensagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_ltMobileSoap12" type="tns:WS_ltMobileSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastVersionFile">
      <soap12:operation soapAction="http://tempuri.org/GetLastVersionFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastVersionFileLength">
      <soap12:operation soapAction="http://tempuri.org/GetLastVersionFileLength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLeituraWS">
      <soap12:operation soapAction="http://tempuri.org/getLeituraWS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLeituraConfirmada">
      <soap12:operation soapAction="http://tempuri.org/setLeituraConfirmada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMensagemConfirmada">
      <soap12:operation soapAction="http://tempuri.org/setMensagemConfirmada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCorreioEletronicoConfirmado">
      <soap12:operation soapAction="http://tempuri.org/setCorreioEletronicoConfirmado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuarioStr">
      <soap12:operation soapAction="http://tempuri.org/AutenticarUsuarioStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDateDBServer">
      <soap12:operation soapAction="http://tempuri.org/getDateDBServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCorreioEletronico">
      <soap12:operation soapAction="http://tempuri.org/getCorreioEletronico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFoto">
      <soap12:operation soapAction="http://tempuri.org/getFoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMensagem">
      <soap12:operation soapAction="http://tempuri.org/getMensagem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOcorrencia">
      <soap12:operation soapAction="http://tempuri.org/getOcorrencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFuncionario">
      <soap12:operation soapAction="http://tempuri.org/getFuncionario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCorreioEletronico">
      <soap12:operation soapAction="http://tempuri.org/setCorreioEletronico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFoto">
      <soap12:operation soapAction="http://tempuri.org/setFoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLeitura">
      <soap12:operation soapAction="http://tempuri.org/UpdateLeitura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLeitura">
      <soap12:operation soapAction="http://tempuri.org/setLeitura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLeituraPovisoria">
      <soap12:operation soapAction="http://tempuri.org/setLeituraPovisoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMensagem">
      <soap12:operation soapAction="http://tempuri.org/setMensagem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_ltMobile">
    <wsdl:port name="WS_ltMobileSoap" binding="tns:WS_ltMobileSoap">
      <soap:address location="http://localhost:49188/WS_ltMobile/WS_ltMobile.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_ltMobileSoap12" binding="tns:WS_ltMobileSoap12">
      <soap12:address location="http://localhost:49188/WS_ltMobile/WS_ltMobile.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>